@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    color: #243e63;
}

nav {
    background-color: bisque;
}

/* LANDING */
#landing {
    background-color: aliceblue;
}
/* FEATURES */
#features {
    background-color: white;
}
/* QUALITY */
#quality {
    background-color: bisque;
}
/* STEPS */
#steps {
    background-color: aliceblue;
}
/* VALUES */
#values {
    background-color: white;
}
/* PRICING */
#pricing {
background-color: bisque;
}
/* TESTIMONIES */
#testimonies {
    background-color: aliceblue;
}